.login {
    position: relative;
    min-height: 100vh;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg') center no-repeat;
    background-size: cover;
}

.login__logo {
    position: absolute;
    left: 0;
    width: 120px;
    cursor: pointer;
    object-fit: contain;
    padding-left: 1rem;
}

.login__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: .7rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
}

.login__gradient {
    width: 100%;
    z-index: 1;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.9) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.9) 100%,

        );
}

.login__body {
    z-index: 1;
    color: white;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.login__body>h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
}

.login__body>h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.login__body>h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.login__input>form>input {
    padding: 9px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.login__getStarted {
    padding: 17px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.login__input {
    margin: 20px;
}

.login__input>form {
    display: flex;
    align-items: center;
    justify-content: center;
}