.banner {
    height: 448px;
    object-fit: contain;
    color: white;
    position: relative;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.banner--fade__bottom {
    height: 10rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}

.banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .1rem;
    margin-right: 1rem;
    padding: 0.7rem 2.1rem;
    background-color: rgba(51, 51, 51, 0.5);
    font-size: 1em;
}

.banner__button:hover {
    color: black;
    background-color: #e6e6e6;
    transition: all 0.5s;
}

.banner__description {
    width: 40rem;
    line-height: 1.3;
    margin-top: 1rem;
    padding: 20px;
    font-size: 1rem;
    height: 60px;
    border-radius: .2rem;
    background-color: rgba(51, 51, 51, 0.5);
}

@media only screen and (max-width: 600px) {
    .banner__description {
        width: 17rem;
    }
}